//--------------------------------------------------------------
// TYPOGRAPHY
//--------------------------------------------------------------


//-----------------------------------------
// Font Palette
//-----------------------------------------
$montserrat: 'Montserrat', sans-serif;
$open-sans: 'Open Sans', sans-serif;


//-----------------------------------------
// Typography
//-----------------------------------------
$font__body: $open-sans;
$font__body-weight: 300;
$font__headings: $montserrat;
